<div class="container">
<h1>Editing User Information</h1>

<%= render 'form' %>

<%= link_to 'Show', @user_info, class:"btn btn-link" %> |
<%=link_to 'Back', atm_machine_path(session[:my_atm_machine]), class:"btn btn-link"%>
</div>