 <div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Ammount:</strong>
  <%= @transaction.ammount %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>


<%=link_to 'Back', transactions_path(account_id: current_user.account.id), class:"btn btn-link"%>
</div>